<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Login</title>  <!-- Corrigido o título -->
</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>CRUD com Python</h1>
    </div>
    
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/" class="btn btn-success">Voltar</a>
    </div>
    
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <form name="form" id="form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Usuário" name="username" required>  <!-- Nome do campo alterado -->
        <input type="text" placeholder="Senha" name="password" required>  <!-- Nome do campo alterado e tipo de entrada corrigido -->

        <input type="submit" class="btn btn-success" value="Logar">
      </form>
    </div>

    {% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

</body>
</html>
